.faq {
    background-color: #565555;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    width: 1250px;
    margin-left: 90px;
    margin-top: 50px;
}

.faq h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

.faq-item {
    margin-bottom: 10px;
}

